{
  "ConnectionStrings": {
    "H4HDB-DEV": "Server=YOUR_SQL_SERVER;Database=YOUR_DATABASE;User Id=YOUR_USERNAME;Password=YOUR_PASSWORD;TrustServerCertificate=True;"
  },
  "AzureAd": {
    "ClientSecret": "YOUR_AZURE_AD_CLIENT_SECRET"
  },
  "AzureOpenAI": {
    "ApiKey": "YOUR_AZURE_OPENAI_API_KEY"
  },
  "AzureTranslator": {
    "Key": "YOUR_AZURE_TRANSLATOR_API_KEY"
  }
}
